@keyframes IconFlip {
    0% {opacity:0;}
    100% {opacity: 1;}
}

@keyframes spin {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes fadeOut {
    75% {
        opacity:1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(25px);
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}