@keyframes spin {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes fadeOut {
    75% {
        opacity:1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(35px);
    }

    40% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

/* HEART ANIMATION */

@keyframes heartFill {
    0% {
        width: 0%;
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes IconFlip {
    0% {opacity:0;}
    100% {opacity: 1;}
}