// INDEX LOCATION DIV

.location-container {
    display: flex;
    justify-content: center;
    color: #353535;
    background-color: #eaeaea;

        i {
        margin: auto 15px;
    }
        p {
        padding-right: 20px;
        text-align: center;
        font-weight: 600;
    }
}

// INDEX DESCRIPTION DIV

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    text-align: center;
    background-color: #f6f6f6;

    h2 {
        margin: 0 50px;
        font-weight: 800;
    }

    p {
        margin: 15px 0;
        font-size: 18px;
        font-weight: 300;
    }
}

// INDEX STEP DIV

.step-container {
    padding: 25px 20px;
    
    h2 {
    font-weight: 700;
    }
}

/* NUMBER CIRCLE LIST */

ol { 
    counter-reset: item;
    list-style-type: none;
    padding: 0 2%;

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        padding: 0;
}

    li {
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        margin: 30px 0;
        border-radius: 20px;
        background-color: #f6f6f6;
        box-shadow: 0 4px 13px 1px #d8d8d8;
        font-weight: 700;
        cursor: pointer;

        @media (min-width: $breakpoint-desktop) {
            margin: 0 15px;
            padding: 0;
    }

        &:hover .fa-solid {
            color: $primary-color;
        }

        &:hover {
            background-color: lighten($color: $primary-color, $amount: 36%);
        }

        i {
            font-size: 20px;
            margin: 0 15px 0 10px;
            color: #353535;
        }
    }
}

ol li:before { 
    display: flex;
    justify-content: center;
    align-items: center;
    content: counter(item) ""; 
    color: white;
    counter-increment: item;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: $primary-color;
    position: relative;
    right: 10px;
}

// CARD SECTION 

.card-container {
    padding: 25px 20px;
    background-color: #f6f6f6;

    .card-container-home {
        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            a {
                width: 48%;
            }
        }
    }

    a {
        display: block;
        color: inherit;
        text-decoration: inherit;
        margin: 15px 0;
    }
    figure {
        position: relative;
        margin: 0;
        background-color: #fff;
        box-shadow: 0 4px 13px 1px #d8d8d8;
        border-radius: 15px;
        overflow: hidden;
    }

    img {
        position: relative;
        width: 100%;
        height: 170px;
        object-fit: cover;
        overflow: hidden;
    }

    /* IMAGE NEW */

    span {
        position: absolute;
        background-color: $tertiary-color;
        color: darken($color: $tertiary-color, $amount: 40);
        display: block;
        right: 10px;
        top: 15px;
        padding: 5px 10px;
        font-size: 14px;
        margin: 0;
    }

    figcaption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
    }

    h4 {
        font-size: 18px;
        font-weight: 800;
        margin: 0;
    }

    p {
        margin: 5px 0 0 0;
    }

    /* HEART ANIMATION DIV */

    .btn-like {
        margin: 15px;
    }

    .fa-regular {
        display: block;
        font-size: 26px;
        animation: IconFlip 0.6s;
    }
    
    .fa-solid {
        display: none;
        font-size: 26px;
        background: linear-gradient(175deg, $primary-color, 55%, $secondary-color);
        background-clip: text;
        color: transparent;
    }
    
    .btn-like:hover {
        .fa-regular{
            display: none;
        }

        .fa-solid {
            display: block;
            animation: heartFill 0.9s ease-in-out forwards;
        }
    }
}