/* LOADER */

.loader-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.950);
    z-index: 10;
    animation: fadeOut 3s forwards;
}

.loader {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    border: 20px solid transparent;
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 3s ease-in-out infinite;
}

.loader::before, .loader::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.loader::before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 20px solid transparent;
    border-top-color: $secondary-color;
    animation: spin 3s linear infinite;
}

.loader::after {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 20px solid transparent;
    border-top-color: $tertiary-color;
    animation: spin 1.5s linear infinite;
}