.img-presentation {
    height: 250px;
    width: 100%;
    object-fit: cover;
    }


.main-container {
    background-color: #f6f6f6;
    padding-bottom: 15px;

    .menu:nth-child(1) {
        animation: fadeIn 0.5s forwards;
    }
    
    .menu:nth-child(2) {
        animation: fadeIn 0.9s forwards;
    }
    
    .menu:nth-child(3) {
        animation: fadeIn 1.2s forwards;
    }
    
    .menu:nth-child(4) {
        animation: fadeIn 1.5s forwards;
    }

    .menu:nth-child(5) {
        animation: fadeIn 1.8s forwards;
    }
}


.menu-title {
    position: relative;
    margin-top: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    padding: 35px 20px 0;

    h1 {
        font-family: 'shrikhand';
        font-size: 28px;
        font-weight: 400;
        margin: 0;
    }

    i {
        font-size: 24px;
        padding-right: 15px;
    }
}

.menu-container {
    width: 95%;
    margin: auto;
    padding: 0 5px;

    h2 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        padding-left: 5px;
        margin: 35px 0 20px;

        &::after {
        content : "";
        position: absolute;
        left    : 5px;
        bottom  : -6px;
        height  : 0;
        width   : 40px;
        border-bottom:3px solid $tertiary-color;
        }
    }
}

.menu {
    display: flex;
    margin: 15px 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0px #d8d8d8;
    overflow: hidden;
    visibility: hidden;

    &:hover .check-icon {
        margin-right: 0;
    }
        
    &:hover .fa-circle-check {
        transform: rotate(360deg);
    }

    .check-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        font-size: 24px;
        color: white;
        background-color: #99E2D0;
        margin-right: -60px;
        transition: 0.6s;
    }

    .fa-circle-check {
        transition: transform 0.6s;
    }
}

.menu-description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 12px 0 12px 10px;
    width: 200px;
    cursor: pointer;

    h3 {
        font-size: 18px;
        margin: 0 0 5px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    p {
        font-size: 15px;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

span {
    margin: auto 25px 12px 25px;
    font-weight: 700;
}

