.button--pink {
    margin: 15px 0;
    padding: 15px 20px;
    color: white;
    border: none;
    font-weight: 400;
    border-radius: 25px;
    box-shadow: 0 4px 6px 0px #c4c4c4;
    background: linear-gradient(175deg, $secondary-color, 55%, $primary-color);
}